:root {
  --cyan: #79CBC8;
  --orange: #FF7900;
}

.main {
  padding: 60px 2rem 0;
  position: relative;
}

.fade-enter {
  position: absolute;
  top: 60px;
  left: 2rem;
  margin-right: 2rem;
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-enter-done {
  position: relative;
  margin: auto;
}

.fade-exit {
  position: absolute;
  top: 60px;
  left: 2rem;
  margin-right: 2rem;
  opacity: 0;
}

.fade-exit.fade-exit-active {
  opacity: 0;
}

@media print {
  .main {
    padding: 0;
    margin: 0;
  }
}
