aside {
  width: 300px;
  padding-top: 80px;
}

#profil {
  width: 200px;
  margin: 0 50px;
  clip-path: circle(100px at 50% 40%);
}

aside > h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
  font-weight: normal;
  color: var(--cyan);
  text-transform: uppercase;
  letter-spacing: 0.5em;
  line-height: 1.4em;
  margin-top: -1em;
  margin-bottom: 0;
}

aside > h2 {
  font-family: 'Lato', sans-serif;
  font-size: 1.1em;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  margin-top: 1em;
}

aside > section {
  margin-top: 2em;
}

aside > section > h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 1.1em;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background-color: var(--cyan);
  padding: 0.7em;
  margin: 0;
}

#contact p {
  letter-spacing: 0.2em;
  line-height: 2em;
}

#skills_wrapper {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

#skills_wrapper > div {
  width: 50%;
}

.skill > span {
  color: var(--orange);
}
