#resume {
  max-width: 1200px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
}

#presentation,#profil_wrapper {
  padding: 2em;
}

#presentation {
  width: 300px;
  padding-top: 80px;
}

#presentation > img {
  width: 250px;
  margin: 0 25px;
  clip-path: circle(125px at 50% 40%);
}

#presentation > h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
  font-weight: normal;
  color: var(--cyan);
  text-transform: uppercase;
  letter-spacing: 0.4em;
  line-height: 1.4em;
  margin-top: -1em;
  margin-bottom: 0;
}

#presentation > h2 {
  font-family: 'Lato', sans-serif;
  font-size: 1.1em;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  margin-top: 1em;
}

#presentation > p {
  margin: 2em 0 1em;
}

#presentation section {
  width: 300px;
  margin-top: 2em;
}

#presentation section h3,#profil_wrapper section h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 1.1em;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding: 0.7em;
  margin: 0;
}

#presentation section h3 {
  background-color: var(--cyan);
}

#contact p {
  letter-spacing: 0.2em;
  line-height: 2em;
}

#skills_wrapper {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

#skills_wrapper > div {
  width: 50%;
}

.skill > span {
  color: var(--orange);
}

#profil_wrapper {
  min-width: 400px;
  flex: 1 1;
  background-color: var(--cyan);
}

#profil_wrapper > section > h3 {
  background-color: #fff;
}

#profil > p, #hobbies > p {
  margin: 0;
  padding: 1em;
  letter-spacing: 0.1em;
  text-align: justify;
}

#profil_wrapper > section > div{
  padding: 1em;
  letter-spacing: 0.1em;
}

#profil_wrapper > section > div > h4 {
  margin: 0 0 0.2em;
  text-transform: uppercase;
}

#profil_wrapper > section > div > p {
  margin: 0 0 1em;
}

.upper_text {
  text-transform: uppercase;
}

@media print {
  @page {
    margin: 1cm;
  }
  #resume {
    width: calc(100vw - 2cm);
    height: calc(100vh - 2cm);
    font-size: 9pt;
  }
  #presentation,#profil_wrapper {
    padding-top: 0;
  }
  #presentation {
    width: 30vw;
  }
  #presentation > img {
    width: 180px;
    margin: 0 25px;
    clip-path: circle(90px at 50% 40%);
  }
  #profil_wrapper {
    min-width: 200px;
  }
}
