nav {
  position: fixed;
  top: 2rem;
  left: 10px;
  width: 40px;
  font-size: 1.5em;
  text-align: center;
  color: var(--cyan);
  z-index: 99;
}

nav > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav > ul > li {
  margin: 0.3em 0;
  display: none;
  opacity: 0;
  transition-property: opacity;
  transition-timing-function: ease-in-out;
}

nav > ul > li > a {
  color: var(--cyan);
  text-decoration: none;
}

nav > ul > li > a:visited {
  color: var(--cyan);
}

nav > ul > li > a.active {
  color: var(--orange);
}

#menu_toggle {
  cursor: pointer;
}

@media print {
  nav {
    display: none;
  }
}
