nav {
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 1.5em;
  text-align: center;
  background-color: #fff;
  color: var(--cyan);
  z-index: 99;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

nav > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 0;
  overflow: hidden;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

nav > ul > li {
  display: inline-block;
  margin: 0 0.3em;
}

nav > ul > li > a {
  color: var(--cyan);
  text-decoration: none;
}

nav > ul > li > a:visited {
  color: var(--cyan);
}

nav > ul > li > a.active {
  color: var(--orange);
}

.spread-enter {
  max-width: 0;
}

.spread-enter.spread-enter-active {
  max-width: 500px;
  -webkit-transition: max-width 500ms ease-in-out;
  -o-transition: max-width 500ms ease-in-out;
  transition: max-width 500ms ease-in-out;
}

.spread-enter-done {
  max-width: 500px;
}

.spread-exit {
  max-width: 500px;
}

.spread-exit.spread-exit-active {
  max-width: 0;
  -webkit-transition: max-width 500ms ease-in-out;
  -o-transition: max-width 500ms ease-in-out;
  transition: max-width 500ms ease-in-out;
}

.spread-exit-done {
  max-width: 0;
}

#menu_toggle {
  cursor: pointer;
  transform: rotate(90deg);
}

@media print {
  nav {
    display: none;
  }
}
